.remixed {
	margin: 0 auto;
	width: 50%;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: #555;
}

.page-title {

}

.lead {
	font: 18px 'Varela Round';
	color: #888;
}