.remixed {
	color: rgba(0, 0, 0, .75);
	margin: 0 auto 100px;
	width: 50%;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}

.spotify {
	font-weight: 400;
	color: #7ab800;
}

.page-header {
	padding: 40px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
	box-shadow: 0 2px 0 rgba(0, 0, 0, .03);
}

.page-title {
	font-size: 64px;
	font-weight: 200;
	margin: 0;
}

.page-subtitle {
	font-size: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, .50);
	margin: 0;
}

.lead {
	font-weight: 300;
	color: #888;
	margin: 30px 0;
}

.pure-form input,
.pure-form select {
	font-size: 1em;
	padding: 1em;
}

.pure-form legend {
	margin-bottom: 4%;
}

.pure-form .pure-u-1-2 {
	width: 48%;
}

.pure-form .pure-u-1-2:first-child {
	padding-right: 2%;
}

.pure-form .pure-u-1-2:last-child {
	padding-left: 2%;
}

.google-signin button,
.spotify-import button,
.import-step-2 button {
	font-size: 1.5em;
	width: 100%;
	margin-top: 4%;
	padding: 0.75em 2em;
}

.spotify-import input[type="text"] {
	margin-bottom: 4%;
}

.page-message {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	display: none;
}

.page-message.force {
	display: block;
}

.page-message.error {
	background-color: #fcf2f2;
	border-left: 5px solid #df7c7b;
}

.page-message.success {
	background-color: #f9fcf2;
	border-left: 5px solid #a1df7b;
}

.import-process {
	padding: 40px;
	border: 1px solid rgba(0, 0, 0, .10);
	position: relative;
}

.playlist-form-submit-progress-back {
	position: relative;
	background: #ccc;
	border-radius: 2px;
}

.playlist-form-submit-progress-back.in-progress {
	background: #7ab800;
}

.playlist-import-progress {
	height: 100%;
	background: #fa9330;
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: 2px;
}

.spotify-import button {
	margin-top: 0;
}

.import-stats {
	margin: 0;
	padding: 0;
	list-style: none;
}

.import-stats li {
	color: rgba(0, 0, 0, .50);
	margin: 10px 0;
}

.import-stats li strong {
	font-weight: normal;
	border-bottom: 1px solid rgba(0, 0, 0, .20);
}

.import-stats li span {
	color: rgba(0, 0, 0, .75);
	font-weight: bold;
}

.import-step-2 {
	margin: 0 0 4%;
	display: none;
}