{% extends "base.html" %}

{% block body %}

	{% if current_user is None %}
		<p class="lead">Google All Access does not support <code>OAuth</code>, traditional login is required. Your credentials are never stored on our server, and transfered over a secure connection.</p>

		<div class="page-message"></div>

		<form id="login-form" class="google-signin pure-form">
			<fieldset>
				<legend>Google Account</legend>

				<div class="pure-g-r">
					<div class="pure-u-1-2">
						<input name="Email" type="text" placeholder="Email/Username" class="pure-input-1" required>
					</div>

					<div class="pure-u-1-2">
						<input name="Passwd" type="password" placeholder="Password" class="pure-input-1" required>
					</div>
				</div>

				<button type="submit" name="btn-login" id="btn-login" class="pure-button pure-button-primary">Sign in</button>
				<input type="hidden" name="service" value="sj"></input>
			</fieldset>
		</form>
	{% else %}

	<div class="import-step-1">
		<p class="lead">Paste a valid <strong class="spotify">Spotify</strong> playlist URL.</p>
			
		<form class="pure-form spotify-import" id="playlist-form">
			<input id="playlist-link" type="text" class="pure-input-1" placeholder="http://" required>
			<button name="" id="" class="pure-button pure-button-primary" type="submit">Find Matches</button>
		</form>
	</div>

	<br /><br />

	<div class="page-message"></div>
	<div class="import-step-2" style="display:none">
		<div class="import-process">
			<ul class="import-stats">
				<li class="current-search"><strong>Importing</strong> <span id="current-search-text">Damage, Inc.</span></li>
				<li class="current-success"><strong>Successful imports</strong>: <span id="current-hit-text">47</span></li>
				<li class="current-fail"><strong>Failed imports</strong>: <span id="current-miss-text">33</span></li>
			</ul>

			<div class="import-progress" style="width: 0%"></div>
		</div>
	</div>

	{% end %}

{% end %}