{% extends "base.html" %}

{% block lead %}
Google All Access does not support OAuth, traditional login is required. Your credentials are never stored and transfered over a secure connection. 
<p>It's safe, we promise.</p>
{% end %}

{% block body %}

<form class="form-signin" id="login-form">
    <input name="Email" type="text" class="input-block-level" placeholder="email">
    <input name="Passwd" type="password" class="input-block-level" placeholder="password">
    
    <button name="btn-login" id="btn-login" class="btn btn-large btn-primary" type="submit">Sign in</button>
    <input type="hidden" name="service" value="sj"></input>
</form>
<div class="page-message mar top"></div>
{% end %}